- if user_signed_in?
	%p.greeting 
		Hello
		= current_user.name
		%br
		%span.greeting.subtitle
			Share your thoughts and inspirations.
- else
	%p.greeting.signed-out
		"Whats on your mind?"


- @posts.each do |post|
	= image_tag(post.image.url(:small))
	%h2= link_to post.title, post
	%p
		= post.comments.count 
		Comments
		
	%p
		= post.get_likes.size
		Likes
		= post.get_dislikes.size
		Dislikes
= link_to "Add new idea", new_post_path