= image_tag @post.image.url(:medium)
%h1= @post.title
%p= @post.link
%p= @post.description
%p= @post.user.name
%p
	= link_to like_post_path(@post), method: :get, class: "data" do
		%i.fa.fa-thumbs-o-up
		= pluralize(@post.get_upvotes.size, "Like")
	= link_to dislike_post_path(@post), method: :get, class: "data" do
		%i.fa.fa-thumbs-o-down
		= pluralize(@post.get_downvotes.size, "Dislike")


#comment
	%h2.comment-count= pluralize(@post.comments.count, "Comment")
	- @comments.each do |comment|
		.comment
			%p.username= comment.user.name
			%p.content= comment.content

	=render 'comments/comment_form'

= link_to "Edit", edit_post_path(@post)
= link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you super postitive?" } 
= link_to "Home", root_path 